section.signup {
    background-color: #f5f5f5;

    .panel-body {
        padding: 22px;
    }

    .has-error {
        border-color: darken(red, 20%) !important;
    }

    .has-error-text {
        color: darken(red, 20%) !important;
        margin-top: 10px;
    }

    .panel {
        border: 1px solid #dce0e0;
        background-color: #fff;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .signup-login-modal {
        margin: 0 auto;
        margin-bottom: 50px;
        max-width: 450px;
        margin-top: 30px;

        a.btn-google {
            position: relative;
            padding-left: 20px;
            padding-bottom: 7px;
            padding-top: 10px;
            font-size: 16px;
            width: 100%;
            border-radius: 1px;
        }

        .icon-google-image {
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            left: 20px;
        }

        .signup-or-separator {
            background: none;
            height: 42px;
            position: relative;
            text-align: center;

            .h6 {
                font-size: 15px;
                font-weight: bold;
                color: #82888a;
            }

            .separator--text {
                background-color: #fff;
                display: inline-block;
                padding: 8px;
            }

            hr {
                margin: -25px auto 10px;
                width: 100%;
            }
        }

        .signup-form {
            .has-error-height {
                height: auto !important;
            }

            .control-group {
                height: 47px;

                input {
                    height: 41px;
                    font-size: 14px;
                    border: 1px solid #bbb;
                    width: 100%;
                    margin-top: 10px;
                    padding: 0 10px;
                }

                i {
                    position: relative;
                    left: 42%;
                    top: -32px;
                    font-size: 19px;
                    color: darken(#999, 8%);
                }
            }

            .remember-me {
                float: left;
                padding-top: 0;
                padding-bottom: 0;

                input {
                    height: 1.25em;
                    width: 1.25em;
                    margin-bottom: -0.25em;
                    margin-right: 5px;
                    vertical-align: top;
                }
            }

            .forgot-password {
                float: right;
                margin-top: 10px;
            }

            .btn-signup {
                padding: 20px;
                border-radius: 2px;
                border-color: #ff5a5f;
                border-bottom-color: #e00007;
                background-color: #ff5a5f;
                color: #fff;
                margin-top: 20px;
                font-size: 16px;
				font-weight: 700;
            }

            .bday {
                margin-top: 18.75px;
                text-align: left;
                height: 30px;
            }

            .bdayform {
                margin-bottom: 14px;
                text-align: left;
                margin-left: 5px;

                .select {
                    position: relative;
                    display: inline-block;
                    vertical-align: bottom;

                    select {
                        background-color: #ffffff;
                        color: #666;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        padding-right: 2em;
                        margin-right: 5px;
                        padding-left: 5px;
                        border-radius: 1px;
                    }
                }
            }

            .policy {
                text-align: left;
            }
        }

        .signup-login {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            border-top: 1px solid #dce0e0;
            margin-top: 18px;

            .signup-copy {
                float: left;
                display: inline-block;
                margin-right: 4px;
                line-height: 34px;
                font-size: 16px;
            }

            .link-to-signup {
                border: 1.1px solid #337ab7;
                color: #337ab7;
                float: right;
                border-radius: 1px;
				font-weight: 600;
            }
        }
    }
}

.signupObj {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8) !important;
    z-index: 9;
    margin-top: 0;
    min-height: 700px;
}