.User {
	.user-image {
		img {
			    width: 100%;
    height: 220px;
		}
	}
	.verifications {
		ul {
			padding: 0 10px;
		}
	}
	.media {
		i.fa-check-circle {
			margin-top: 10px;

			color: lighten(green, 2%);
			margin-right: 20px;
		}
	}
	.hostings-list-item-image {
    height: 169px;
}
.media-cover {
	    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   img {
    	width: 100%;
    	height: auto;
    }
}
.media-caption {
	    padding: 25px 15px 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.8));
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.8)));
    background-image: -moz-linear-gradient(transparent, rgba(0,0,0,0.8));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0,0.8));
    background-image: linear-gradient(transparent, rgba(0,0,0,0.8));
    color: #fff;
    text-align: center;

}
.media-round {
	    border-radius: 50%;
    border: 2px solid #fff;
        -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #cacccd;

}
}